body {
  background-color: #282c34;
  color: #61dafb;
}
header {
  background-color: #282c34;
  height: 80px;
}
header p {
  color: #61dafb;
  text-transform: capitalize;
  padding-left: 15%;
  font-size: 25px;
  font-weight: 600;
  padding-top: 15px;
}
form {
  background-color: #61dafb;
  height: 300px;
  position: relative;
}
.input_section p {
  color: #282c34;
  display: inline-block;
  text-transform: uppercase;
  white-space: break-spaces;
  margin-left: 15%;
  margin-top: 20px;
  color: #282c34;
}

.input_section input {
  display: inline-block;
  border-color: #282c34;
  border-radius: 0%;
}
.input_section .input_1 {
  left: 11%;
  top: 80px;
  width: 20%;
  position: absolute;
}
.input_section .input_2 {
  left: 38%;
  width: 300px;
  top: 80px;
  position: absolute;
}
.input_section .input_3 {
  left: 70%;
  top: 80px;
  position: absolute;
  height: 150px;
  width: 20%;
  border-radius: 5%;
  border-color: #282c34;
}
.input_section button {
  position: absolute;
  top: 75%;
  left: 40%;
  height: 50px;
  width: 200px;
  border-radius: 30%;
  background-color: #282c34;
  color: #61dafb;
  border: 0px;
  text-transform: capitalize;
  font-size: 20px;
}
.input_section button:hover {
  background-color: white;
  color: #282c34;
  font-size: 30px;
  transition: all 0.8s;
}
.card_body {
  margin-left: 9%;
  margin-top: 4%;
  display: inline-block;
}
.search_section {
  position: relative;
  height: 80px;
  background-color: #282c34;
}
.search_section p {
  margin-top: 1%;
  color: #61dafb;
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
  display: inline-block;
  text-transform: capitalize;
}
.search_section input {
  display: inline-block;
  margin-left: 2%;
  width: 20%;
}
.number_input {
  width: 3% !important;
}
.rate_number {
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  right: 8%;
}
.input_section .input_4 {
  left: 18%;
  width: 50px;
  top: 200px;
  position: absolute;
}
.input_section .p4 {
  left: 0%;
  top: 120px;
  position: absolute;
}
.input_section .p4 span {
  left: 15%;
  top: 25px;
  text-transform: lowercase;
  position: absolute;
  color: red;
}
